- style = require('../css/main.css');

div(class=style.dropArea data-el='dropArea')
  span.glyphicon.glyphicon-cloud-download
  |  Перетащите сюда файл или 
  span(class=style.browseLink data-el='browseLink') выберите
div(data-el='files')
